*.py[ciod]
*.so
__pycache__

.project
.pydevproject
.vscode

*.egg-info
build
dist
/lib

/gtsam_apriltag/version.py
/gtsam_apriltag/_init__rev.py
/gtsam_apriltag/_init_revlib.py
/gtsam_apriltag/*.pc
/gtsam

*.dylib
*.dll
